<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>About</title>

    <!-- Favicon-->
    <link type="image/x-icon" rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}"/>
    
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/dada.css">
  </head>

  <body class="d-flex flex-column">

    <!-- ***** Preloader Start ***** 頁面跳轉-->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="Home.html"><h2>AIEN16-2 <em>面相分析</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="Home.html">首頁</a>
                    </li> 
                    <li class="nav-item">
                    <a class="nav-link" href="Test.html">功能體驗</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="DataAnalysis.html">數據分析</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Aesthetics.html">美學標準</a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="About.html">關於我們</a>
                    </li>
                </ul>
                <ul class="toolbar-menu toolbar-menu--member">
                  <li class="toolbar-item toolbar-item--login"><a class="text-underline-none" href="Signin.html">登入</a></li>
                  <li class="toolbar-item"><a class="text-underline-none" href="Signup.html">註冊</a></li>
                </ul>
            </div>
          </div>
        </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="text-content">
                <h4>關於我們</h4>
                <h2>About us</h2>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!--Mediapipe Face Sart-->
    <div class="latest-products">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <div class="section-heading">
              <h2>Mediapipe Face</h2>
            </div>
            <div class="best-features about-features">
              <p class="p">
                MediaPipe Face Mesh 是一種人臉幾何解決方案，即使在移動設備上也能實時估計 468 個 3D 人臉地標。<br/>
                它採用機器學習 (ML) 來推斷 3D 表面幾何形狀，只需要一個相機輸入，而不需要專用的深度傳感器。<br/>
                該解決方案在整個管道中利用輕量級模型架構和 GPU 加速，提供對實時體驗至關重要的實時性能。<br/>
              </p>            
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="images/facemesh1.png" alt=""></a>
              <div class="down-content">
                <a href="#"><h3>原始</h3></a>
                <h6>Demo</h6>
                <p class="p">Mediapipe原始模型</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="images/facemesh2.png" alt=""></a>
              <div class="down-content">
                <a href="#"><h3>標號</h3></a>
                <h6>Mark</h>
                <p class="p">將每個點標記號碼</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="images/facemesh3.png" alt=""></a>
              <div class="down-content">
                <a href="#"><h3>畫線</h3></a>
                <h6>Line</h6>
                <p class="p">將座標點連線畫線計算</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--Mediapipe Face End-->

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>AIEN16-2 Members</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <div class="thumb-container">
                <img src="images/treetird.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h3>魏廷諭</h3>
                <span>組長</span>
                <p class="p">製作</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <div class="thumb-container">
                <img src="images/sea.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h3>蘇義斌</h3>
                <p class="p">製作</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <div class="thumb-container">
                <img src="images/slowka.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h3>鐘凱賀</h3>
                <p class="p">製作</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <div class="thumb-container">
                <img src="images/catbear.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h3>阮郁晴</h3>
                <p class="p">製作</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h3>體驗 <em>面相</em> 分析</h3>
                  <p class="p">利用即時影像圖像分析面相及完美比例</p>
                </div>
                <div class="col-md-4">
                  <a href="DataAnalysis.html" class="filled-button">開始測試</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="inner-content">
                <p>AIEN16 &copy; 2022 Second Group
            </div>
            </div>
        </div>
        </div>
    </footer>


      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


      <!-- Additional Scripts -->
      <script src="assets/js/custom.js"></script>
      <script src="assets/js/owl.js"></script>
      <script src="assets/js/slick.js"></script>
      <script src="assets/js/isotope.js"></script>
      <script src="assets/js/accordions.js"></script>


      <script language = "text/Javascript"> 
          cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
          function clearField(t){                   //declaring the array outside of the
          if(! cleared[t.id]){                      // function makes it static and global
              cleared[t.id] = 1;  // you could use true and false, but that's more typing
              t.value='';         // with more chance of typos
              t.style.color='#fff';
              }
          }
      </script>

      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="js/scripts.js"></script>
      <script>
          function Function_video_feed(style) {
            document.getElementById("image2").src = "{{ url_for('video_feed', style='style') }}".replace("style", style);
          }
    
        </script>
  </body>
</html>
