{% extends "base.html" %}
{% block title %}AIEN16面相分析 - 關於我們{% endblock title%}
{% block Banner %}
<div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>關於我們</h4>
              <h2>Aesthetics Criterion</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock Banner %}
{% block content %}
 

    

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>AIEN16-2 Members</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <div class="thumb-container">
                <img src="images/T (1).jpg" alt="">
              </div>
              <div class="down-content">
                <h3>魏廷諭</h3>
                <span>組長</span>
                <p class="p">製作</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <div class="thumb-container">
                <img src="images/T (3).jpg" alt="">
              </div>
              <div class="down-content">
                <h3>蘇義斌</h3>
                <p class="p">製作</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <div class="thumb-container">
                <img src="images/T (2).jpg" alt="">
              </div>
              <div class="down-content">
                <h3>鍾凱賀</h3>
                <p class="p">製作</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <div class="thumb-container">
                <img src="images/T (4).jpg" alt="">
              </div>
              <div class="down-content">
                <h3>阮郁晴</h3>
                <p class="p">製作</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h3>體驗 <em>面相</em> 分析</h3>
                  <p class="p">利用即時影像圖像分析面相及完美比例</p>
                </div>
                <div class="col-md-4">
                  <a href="{{ url_for('DataAnalysis') }}" class="filled-button">開始測試</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %} 
    
      