{% extends "base.html" %}
{% block title %}AIEN16面相分析 - 美學標準{% endblock title%}
{% block Banner %}
<div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>美學標準</h4>
              <h2>Aesthetics Criterion</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock Banner %}
{% block content %}
    <!-- Page Content -->

    

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>1.三庭五眼</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/三庭.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">是指臉的長度比例，將臉的長度分為三等分</p>
              <p class="p">美學中的三庭 VS 算命面相中的三停</p>
              <p class="p">上庭 = 額頭髮際線到"眉心"的部分 VS 上停 = 從髮際到"眉毛上邊"，主15到30歲運勢</p>
              <p class="p">中庭 = "眉心"到"鼻翼下緣"的部分 VS 中停 = "眉毛上邊"到"鼻尖"，主31歲到50歲運勢</p> 
              <p class="p">下庭 = "鼻翼下緣"到下巴尖的部分 VS 下停 = "鼻尖"到下巴尖端，主51歲後運勢</p>
            </div>
          </div>
          <div class="col-md-12">
            <p></p>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/五眼.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">五眼是指臉的寬度比例，將臉的寬度分為五等分</p>
              <p class="p">以眼睛的長度為單位，從左側太陽穴經眼角到右側太陽穴的距離</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>2.黃金比例</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/黃金比例.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">將臉的長度（髮際線到下巴）/ 寬度（兩頰最寬處）= 1.618</p> 
              <p class="p">小於這個數字的話代表臉部過長，大於此數字則代表臉部偏圓、偏寬</p>
              <p class="p">以身高165公分為例，一般標準臉長為19.5–22公分，臉寬則應為12–13.6公分；</p>
              <p class="p">但如果是黃金比例臉，臉長為18-19.5公分，臉寬則應為11.1–12公分</p>
              <p class="p">超模比例的臉寬甚至小於11.1公分</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>3.四角比例</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/四角比例.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">將雙眼眼角垂直連接到嘴角的四角形</p> 
              <p class="p">將長除以寬，除出來的數值越高越接近美女</p>
              <p class="p">一般人平均數據約落在1.41左右</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>4.美人角</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/美人角.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">從眼角與嘴角延伸拉出兩條直線</p> 
              <p class="p">直線交叉的角度為45度就是標準的美人</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>5.三點線</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/三點線.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">眉尾、眼尾和鼻翼連成一線</p> 
              <p class="p">如果可以剛好連成直線，表示五官間距非常標準</p>
              <p class="p">很多化妝在畫眼線、眉毛時也會以此作為依據</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>6.鼻子寬度</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/鼻子大小.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">鼻子的寬度可以跟眼距對照</p>
              <p class="p">將眼角垂直向下切如果剛好對齊鼻翼就是標準大小</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h3>體驗 <em>面相</em> 分析</h3>
                  <p class="p">利用即時影像圖像分析面相及完美比例</p>
                </div>
                <div class="col-md-4">
                  <a href="DataAnalysis.html" class="filled-button">開始測試</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    {% endblock content %}  