
<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Medical aesthetics</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-sixteen.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/dada.css">
</head>

<body>

  <!-- ***** Preloader Start ***** 頁面跳轉-->
  <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>  
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="Home.html"><h2>AIEN16-2 <em>面相分析</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="Home.html">首頁</a>
                </li> 
                <li class="nav-item">
                <a class="nav-link" href="Test.html">功能體驗</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="DataAnalysis.html">數據分析</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="Aesthetics.html">美學標準</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="About.html">關於我們</a>
                </li>
            </ul>
            <ul class="toolbar-menu toolbar-menu--member">
              <li class="toolbar-item toolbar-item--login"><a class="text-underline-none" href="Signin.html">登入</a></li>
              <li class="toolbar-item"><a class="text-underline-none" href="Signup.html">註冊</a></li>
            </ul>
        </div>
      </div>
    </nav>
</header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>美學標準</h4>
              <h2>Aesthetics Criterion</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>1.三庭五眼</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/三庭.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">是指臉的長度比例，將臉的長度分為三等分</p>
              <p class="p">美學中的三庭 VS 算命面相中的三停</p>
              <p class="p">上庭 = 額頭髮際線到"眉心"的部分 VS 上停 = 從髮際到"眉毛上邊"，主15到30歲運勢</p>
              <p class="p">中庭 = "眉心"到"鼻翼下緣"的部分 VS 中停 = "眉毛上邊"到"鼻尖"，主31歲到50歲運勢</p> 
              <p class="p">下庭 = "鼻翼下緣"到下巴尖的部分 VS 下停 = "鼻尖"到下巴尖端，主51歲後運勢</p>
            </div>
          </div>
          <div class="col-md-12">
            <p></p>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/五眼.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">五眼是指臉的寬度比例，將臉的寬度分為五等分</p>
              <p class="p">以眼睛的長度為單位，從左側太陽穴經眼角到右側太陽穴的距離</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>2.黃金比例</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/黃金比例.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">將臉的長度（髮際線到下巴）/ 寬度（兩頰最寬處）</p> 
              <p class="p">= 1.618 為黃金比例</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>3.四角比例</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/四角比例.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">將雙眼眼角垂直連接到嘴角的四角形</p> 
              <p class="p">將長除以寬，除出來的數值越高越接近美女</p>
              <p class="p">一般人平均數據約落在1.41左右</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>4.美人角</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/美人角.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">從眼角與嘴角延伸拉出兩條直線</p> 
              <p class="p">直線交叉的角度為45度就是標準的美人</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>5.三點線</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/三點線.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">眉尾、眼尾和鼻翼連成一線</p> 
              <p class="p">如果可以剛好連成直線，表示五官間距非常標準</p>
              <p class="p">化妝在畫眉毛時也能以此作為標準</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>6.側臉線</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/側臉線.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">只要一隻食指就能測量</p> 
              <p class="p">將食指連接鼻子和下巴，距離上唇2/3、下唇1/3就是理想的側臉</p>
              <p class="p">還有一種說法是鼻子、上唇和下巴連成一條直線也是完美的側臉線條</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>7.四高三低</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/四高三低.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">四高 = 額頭、鼻尖、上唇唇珠和下巴要高</p> 
              <p class="p">三低 = 兩個眼睛之間，鼻額交界處、人中、下唇與下巴交接處要低</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>8.鼻子大小</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="images/鼻子大小.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="left-content">
              <p class="p"></p>
              <p class="p">鼻子的寬度可以跟眼距對照</p>
              <p class="p">將眼角垂直向下切如果剛好對齊鼻翼就是標準大小</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h3>體驗 <em>面相</em> 分析</h3>
                  <p class="p">利用即時影像圖像分析面相及完美比例</p>
                </div>
                <div class="col-md-4">
                  <a href="DataAnalysis.html" class="filled-button">開始測試</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>AIEN16 &copy; 2022 Second Group
            </div>
          </div>
        </div>
      </div>
    </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/owl.js"></script>
  <script src="assets/js/slick.js"></script>
  <script src="assets/js/isotope.js"></script>
  <script src="assets/js/accordions.js"></script>


  <script language = "text/Javascript"> 
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t){                   //declaring the array outside of the
    if(! cleared[t.id]){                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value='';         // with more chance of typos
        t.style.color='#fff';
        }
    }
  </script>

  

</body>

</html>