
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Analysis</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="assets/css/owl.css">

    <style>
      .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;   
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #f07070;
        border: none;
        border-radius: 50px;
        box-shadow: 0 8px rgb(179, 178, 178);
      }
      
      .button:hover {background-color: #f12929}
      
      .button:active {
        background-color: #d61a1a;
        box-shadow: 0 10px rgb(141, 140, 140);
        transform: translateY(4px);
      }
      </style>

</head>

<body>

  <!-- ***** Preloader Start ***** 頁面跳轉-->
  <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>  
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="Home.html"><h2>AIEN16-2 <em>面相分析</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="Home.html">首頁</a>
                </li> 
                <li class="nav-item">
                <a class="nav-link" href="Test.html">功能體驗</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="Data.html">面相數據</a>
                 </li>
                <li class="nav-item active">
                <a class="nav-link" href="Analysis.html">面相分析</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="Aesthetics.html">美學標準</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="About.html">關於我們</a>
                </li>
            </ul>
            <ul class="toolbar-menu toolbar-menu--member">
              <li class="toolbar-item toolbar-item--login"><a class="text-underline-none" href="Signin.html">登入</a></li>
              <li class="toolbar-item"><a class="text-underline-none" href="Signup.html">註冊</a></li>
            </ul>
        </div>
      </div>
    </nav>
</header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>面相分析</h4>
              <h2>AI Face Analysis</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>面相分析</h2>
            </div>
          </div>
          <div class="col-md-8">
          <p>
            <button class="button" onclick="Function_video_feed('臉部網格圖')">臉部特徵網格圖</button>
            <button class="button" onclick="Function_video_feed('臉部外框圖')">臉部外框圖</button>
            <button class="button" onclick="Function_video_feed('五官特徵圖')">臉部五官特徵圖</button>
          <br/></p>
          <p>
            <button class="button" onclick="Function_video_feed('三庭')">三庭</button>
            <button class="button" onclick="Function_video_feed('五眼')">五眼</button>
            <button class="button" onclick="Function_video_feed('黃金比例')">黃金比例</button>
            <button class="button" onclick="Function_video_feed('四角比例')">四角比例</button>
          <br/></p>
          <p>
            <button class="button" onclick="Function_video_feed('美人角')">美人角</button>
            <button class="button" onclick="Function_video_feed('三點線')">三點線</button>
            <button class="button" onclick="Function_video_feed('側臉線')">側臉線</button>
            <button class="button" onclick="Function_video_feed('四高三低')">四高三低</button>
            <button class="button" onclick="Function_video_feed('鼻子大小')">鼻子大小</button>
          <br/></p>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="images/臉譜.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>特徵說明</h4>              
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>AIEN16 &copy; 2022 Second Group
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/owl.js"></script>
  <script src="assets/js/slick.js"></script>
  <script src="assets/js/isotope.js"></script>
  <script src="assets/js/accordions.js"></script>


  <script language = "text/Javascript"> 
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t){                   //declaring the array outside of the
    if(! cleared[t.id]){                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value='';         // with more chance of typos
        t.style.color='#fff';
        }
    }
  </script>

  

</body>

</html>