<!DOCTYPE html>
<html lang="zh-TW">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title%}{% endblock title%}</title>
    <link type="image/x-icon" rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}"/>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-sixteen.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/dada.css') }}" />

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js/custom.js') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js/isotope.js') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js/accordions.js') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js/slick.js') }}" />

    <link type="text/css" rel="stylesheet"
        href="{{ url_for('static', filename='js/bootstrap/css/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet"
        href="{{ url_for('static', filename='js/bootstrap/js/bootstrap.min.js') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js/jquery/jquery.min.js') }}" />
    {% endblock head %}
</head>

<body>
    
    <!-- ***** Preloader Start ***** 頁面跳轉-->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="Home.html">
                    <h2>AIEN16-2 <em>面相分析</em></h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="Home.html">首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Test.html">功能體驗</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('DataAnalysis') }}">數據分析</a>
                            <!-- <a class="nav-link" href="DataAnalysis.html">數據分析</a> -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Aesthetics.html">美學標準</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="About.html">關於我們</a>
                        </li>
                    </ul>
                    <ul class="toolbar-menu toolbar-menu--member">
                        <li class="toolbar-item toolbar-item--login"><a class="text-underline-none"
                                href="Signin.html">登入</a></li>
                        <li class="toolbar-item"><a class="text-underline-none" href="Signup.html">註冊</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    

    

    
    <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
            <h4>AIEN16-2</h4>
            <h2>AI Mediapipe Face Analysis</h2>
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
            <h4>功能體驗</h4>
            <h2>Functional Experience</h2>
            </div>
        </div>
        <div class="banner-item-03">
            <div class="text-content">
            <h4>數據分析</h4>
            <h2>Data Analysis</h2>
            </div>
        </div>
        <div class="banner-item-05">
            <div class="text-content">
            <h4>美學標準</h4>
            <h2>Aesthetics Criterion</h2>
            </div>
        </div>
        <div class="banner-item-04">
            <div class="text-content">
            <h4>關於我們</h4>
            <h2>About Us</h2>
            </div>
        </div>
        </div>
    </div>
    <!-- Banner Ends Here -->
    
<!-- Page Content -->
{% block content %}
{% endblock content %}

    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                        <p>AIEN16 &copy; 2022 Second Group
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Additional Scripts -->
    <script src="{{ url_for('static', filename='/js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/owl.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/isotope.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/accordions.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/slick.js') }}"></script>


    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) { //declaring the array outside of the
            if (!cleared[t.id]) { // function makes it static and global
                cleared[t.id] = 1; // you could use true and false, but that's more typing
                t.value = ''; // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>