{% extends "base.html" %}
{% block title %}AIEN16面相分析 - 數據分析{% endblock title%}
{% block content %}
    <!-- Page Content -->
    
    <div class="best-features about-features"  id="Top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>開始測試 : 面相數據</h2>
            </div>
            <div class="col-md-3">
              <table>
                <tr>
                  <button type="button" class="btn btn-outline-danger" onclick="Function_stream_live('拍照')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                  </svg>  拍照</button>
                  <!-- <td><img id="photo" src="images/camera-open.png" onclick="Function_stream_live('拍照')"></td> -->
                  <!-- <td><img id="photo" src="images/camera-open.png" onclick="Function_stream_live('拍照')"></td> -->
                  <!-- <td>拍照</td> -->
                </tr>
              </table>
              <p>位置正確後會自動3秒拍照</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="right-image">
              <img src="images/臉譜.png" id="image1" alt="">
            </div>
          </div>

         
              <a href="#Analysis"><button class="button-go" style="vertical-align:middle"><span>分析結果 </span></button></a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features" id="Analysis">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>開始測試 : 面相分析</h2>
            </div>
          </div>
          <div class="col-md-8">
            <button class="button-click" onclick="Function_video_feed('臉部特徵網格圖')">臉部特徵網格圖</button>
            <button class="button-click" onclick="Function_video_feed('臉部外框')">臉部外框圖</button>
            <button class="button-click" onclick="Function_video_feed('臉部面相算命特徵圖')">臉部五官特徵圖</button>
          <br/></p>
          <p>
            <button class="button-click" onclick="Function_video_feed('三庭')">三庭</button>
            <button class="button-click" onclick="Function_video_feed('臉部黃金比例')">黃金比例</button>
            <button class="button-click" onclick="Function_video_feed('臉部四角形比例')">四角比例</button>
          <br/></p>
          <p>
            <button class="button-click" onclick="Function_video_feed('五眼')">五眼</button>
            <button class="button-click" onclick="Function_video_feed('美人角')">美人角</button>
            <button class="button-click" onclick="Function_video_feed('眉尾、眼尾和鼻翼連成一線')">三點線</button>
            <button class="button-click" onclick="Function_video_feed('鼻子大小')">鼻子寬度</button>
          </p>
          </div>

          <div class="col-md-6">
            <div class="right-image">
              <img src="images/臉譜.png" id="image2" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>面部畫線評分</h4>
              <p id="jsonOutput"></p>
              <table class="table-roll">
                <thead>
                    <tr>
                        <th colspan="2" class="p">髮型妝容建議</th>
                    </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
              <p></p>
              <a href="#Top"><button class="button-go" style="vertical-align:middle"><span>原圖數據 </span></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="latest-products">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <div class="section-heading">
              <h2>實際應用</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="images/cut.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>整形</h4></a>
                <h6>Plastic surgery</h6>
                <p>EX : 開眼頭 墊下巴 削骨</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="images/eyebrow.PNG" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>化妝</h4></a>
                <h6>Make up</h6>
                <p>EX : 畫眉三點定位法</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="images/hair.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>髮型</h4></a>
                <h6>Hairstyle</h6>
                <p>EX : 高額頭適合留瀏海</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    
    {% endblock content %}

    

    

    {% block scripts %}
    <!-- Core theme JS-->
    <!-- <script>
      x=1;
      function change(){
        x++;
        document.getElementById("photo").src="images/camera-wait.png";
      }
    </script> -->
   
    <script>


        function Function_stream_live(style) {
              document.getElementById("image1").src = "{{ url_for('stream_live', style='style') }}".replace("style", style);
              document.getElementById("photo").src="images/camera-wait.png";
            }
        function Function_video_feed(style) {
              document.getElementById("image2").src = "{{ url_for('video_feed', style='style') }}".replace("style", style);
              data1={ "param": style };
                $.ajax({
                    type:"post",
                    url:"http://localhost:5000/getTxt",
                    contentType:"application/json",
                    data:JSON.stringify(data1),
                }).done(function(data2){                
                  $("#jsonOutput").html(JSON.stringify(data2["回傳文字"]).replace("\"", "").replace("\"", ""));
                    // document.querySelector('#someDiv').innerHTML = JSON.stringify(data);
                }).fail(function(err){
                    alert(err.responseText);
                });
            }

    </script>
    {% endblock scripts %}
  </body>
</html>
