{% extends "base.html" %}
{% block title %}AIEN16面相分析 - 數據分析{% endblock title%}
{% block Banner %}
<div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>數據分析</h4>
              <h2>Aesthetics Criterion</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock Banner %}
{% block content %}
    <!-- Page Content -->

    <div class="best-features about-features" id="Top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>開始測試 : 面相數據</h2>
            </div>
          </div>
          <div class="col-md-8">
            <table>
              <tr>
                <button type="button" class="btn btn-outline-danger" onclick="Function_video_feed('拍照', '照相')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                </svg>  拍照</button>
              </tr>
            </table>
            <p>位置正確後會自動3秒拍照</p>
          </div>
          <div class="col-md-4">
            <a href="#Analysis"><button class="button-go" style="vertical-align:middle"><span>分析結果 </span></button></a>
          </div>
          <div class="col-md-8">
            <div class="right-image">
              <img src="images/臉譜.png" id="image1" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features" id="Analysis">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>開始測試 : 面相分析</h2>
            </div>
          </div>
          <div class="col-md-12">
            <button class="button-click" id="btn1" onclick="Function_video_feed('臉部特徵網格圖', '照片')">臉部特徵網格圖</button>
            <button class="button-click" id="btn2" onclick="Function_video_feed('臉部外框', '照片')">臉部外框圖</button>
            <button class="button-click" id="btn3" onclick="Function_video_feed('臉部面相算命特徵圖', '照片')">臉部五官特徵圖</button>
          <br/></p>
          <p>
            <button class="button-click" id="btn4" onclick="Function_video_feed('三庭', '照片')">三庭</button>
            <button class="button-click" id="btn5" onclick="Function_video_feed('臉部長寬比例', '照片')">臉部長寬比例</button>
            <button class="button-click" id="btn6" onclick="Function_video_feed('臉部四角形比例', '照片')">四角比例</button>
            <button class="button-click" onclick="Function_video_feed('四高三低', '照片')">四高三低</button>
            <button class="button-click" onclick="Function_video_feed('側臉線條', '照片')">側臉線條</button>
          <br/></p>
          <p>
            <button class="button-click" id="btn7" onclick="Function_video_feed('五眼', '照片')">五眼</button>
            <button class="button-click" id="btn8" onclick="Function_video_feed('美人角', '照片')">美人角</button>
            <button class="button-click" id="btn9" onclick="Function_video_feed('眉尾、眼尾和鼻翼連成一線', '照片')">三點線</button>
            <button class="button-click" id="btn10" onclick="Function_video_feed('鼻子大小', '照片')">鼻子寬度</button>
          </p>
          </div>

          <div class="col-md-4">
            <div class="right-image">
              <img src="images/臉譜.png" id="image2" alt="">
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
              <h4>面部畫線評分</h4>
              
              <p id="jsonOutput"></p>
              <h4>評論</h4>
              <p id="jsonOutputComment"></p>
            </div>
          </div>
          <div class="col-md-4">
            <table class="table-roll">
              <thead>
                <tr>
                  <th colspan="2" class="p">髮型妝容建議</th>                       
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="td1"></td>
                </tr>
              </tbody>
            </table>
            <a href="#Top"><button class="button-go" style="vertical-align:middle"><span>原圖 </span></button></a>
          </div>
        </div>
      </div>
    </div>


    <div class="latest-products">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <div class="section-heading">
              <h2>實際應用</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="images/cut.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>整形</h4></a>
                <h6>Plastic surgery</h6>
                <p>EX : 開眼頭 墊下巴 削骨</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="images/eyebrow.PNG" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>化妝</h4></a>
                <h6>Make up</h6>
                <p>EX : 畫眉三點定位法</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="images/hair.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>髮型</h4></a>
                <h6>Hairstyle</h6>
                <p>EX : 高額頭適合留瀏海</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    
    {% endblock content %}

    

    

    {% block scripts %}
    <!-- Core theme JS-->
    <!-- <script>
      x=1;
      function change(){
        x++;
        document.getElementById("photo").src="images/camera-wait.png";
      }
    </script> -->
   
    <script>




            // style = 按鈕名稱; videoMode = "影片" 或 "照片" 或 "照相"
            function Function_video_feed(style, videoMode) {
            document.getElementById("image2").src = "{{ url_for('video_feed', style='style', videoMode='videoMode') }}".replace("style", style).replace("videoMode", videoMode);  
              // 影片
                if (videoMode == "影片") {
                    $("#jsonOutput").html("播放影片 ing");
                    $("#jsonOutputComment").html("");
                }
                // 照片
                else if (videoMode == "照片") {
                    // 處理回傳值
                    data1={ "param": style };
                    $.ajax({
                        type:"post",
                        url:"http://localhost:5000/getTxt",
                        contentType:"application/json",
                        data:JSON.stringify(data1),

                    }).done(function(data2){                
                        var str = ""; 
                        for (var i = 0; i<data2["回傳文字"].length; i++) {
                            str+=data2["回傳文字"][i]+'<br>'
                        }
                        $("#jsonOutput").html(str)
                        $("#jsonOutputComment").html(JSON.parse(JSON.stringify(data2["回傳評論"])));
                        //JSON.parse 方法把會把一個JSON字串轉換成 JavaScript的數值或是物件。另外也可選擇使用reviver函數讓這些數值或是物件在被回傳之前做轉換。
                        $("#td1").html(JSON.parse(JSON.stringify(data2["回傳髮型妝容建議"])));
                    }).fail(function(err){
                        alert(err.responseText);
                    });
                }
                // 照相功能
                else if (videoMode == "照相") {
                    document.getElementById("image1").src = "{{ url_for('video_feed', style='style', videoMode='videoMode') }}".replace("style", style).replace("videoMode", videoMode)
                    $("#jsonOutput").html("拍照 ing");
                    $("#jsonOutputComment").html("");
                }
            }

        
    </script>
    {% endblock scripts %}
  </body>
</html>
