
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Home</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="assets/css/owl.css">

</head>

<body>

    <!-- ***** Preloader Start ***** 頁面跳轉-->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="Home.html"><h2>AIEN16-2 <em>面相分析</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                  <a class="nav-link" href="Home.html">首頁</a>
                  </li> 
                  <li class="nav-item">
                  <a class="nav-link" href="Test.html">功能體驗</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="DataAnalysis.html">數據分析</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="Aesthetics.html">美學標準</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="About.html">關於我們</a>
                   </li>
              </ul>
              <ul class="toolbar-menu toolbar-menu--member">
                <li class="toolbar-item toolbar-item--login"><a class="text-underline-none" href="Signin.html">登入</a></li>
                <li class="toolbar-item"><a class="text-underline-none" href="Signup.html">註冊</a></li>
              </ul>
          </div>
        </div>
      </nav>
  </header>

 <!-- Page Content -->
  <!-- Banner Starts Here -->
  <div class="banner header-text">
    <div class="owl-banner owl-carousel">
      <div class="banner-item-01">
        <div class="text-content">
          <h4>AIEN16-2</h4>
          <h2>AI Mediapipe Face Analysis</h2>
        </div>
      </div>
      <div class="banner-item-02">
        <div class="text-content">
          <h4>功能體驗</h4>
          <h2>AI Face Analysis</h2>
        </div>
      </div>
      <div class="banner-item-03">
        <div class="text-content">
          <h4>數據分析</h4>
          <h2>Data Analysis</h2>
        </div>
      </div>
      <div class="banner-item-05">
        <div class="text-content">
          <h4>美學標準</h4>
          <h2>Aesthetics Criterion</h2>
        </div>
      </div>
      <div class="banner-item-04">
        <div class="text-content">
          <h4>關於我們</h4>
          <h2>About Us</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner Ends Here -->

  <!--Mediapipe Face Sart-->
  <div class="latest-products">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="section-heading">
            <h2>Mediapipe Face</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/facemesh1.png" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>原始</h4></a>
              <h6>Demo</h6>
              <p>Mediapipe原始模型</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/facemesh2.png" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>標號</h4></a>
              <h6>Mark</h6>
              <p>標記個點號碼</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/facemesh3.png" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>畫線</h4></a>
              <h6>Line</h6>
              <p>將座標點連線畫線計算</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--Mediapipe Face End-->

  <!--醫美 Sart-->
  <div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>美學標準</h2>
            <a href="Aesthetics.html">更詳細資訊 <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/三庭.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>三庭</h4></a>
              <h6>Ratio 1:1:1</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (24)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/五眼.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>五眼</h4></a>
              <h6>Ratio 1:1:1:1:1</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (24)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/黃金比例.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>黃金比例</h4></a>
              <h6>Golden ratio = 1.618</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (21)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/四角比例.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>四角比例</h4></a>
              <h6>> 1.41</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (36)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/美人角.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>美人角</h4></a>
              <h6>45°</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (48)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/三點線.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>三點線</h4></a>
              <h6>straight line</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (16)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/側臉線.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>側臉線</h4></a>
              <h6>Ratio 2:1</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (32)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/四高三低.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>四高三低</h4></a>
              <h6>4H3L</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (24)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/鼻子大小.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>鼻子大小</h4></a>
              <h6>nose</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (24)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--醫美 End-->

  <!--面相 Sart-->
  <div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>面相</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-item">
            <a href="#"><img src="images/面相.PNG" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>面相</h4></a>
              <p>看慧在額，看名在眉，看貴在眼，看富在鼻，看祿在嘴，看福在耳，看壽在頜</p>
              <span>Reviews (24)</span>
            </div>
          </div>
        </div> 
        <div class="col-md-6">
          <div class="product-item">
            <a href="#"><img src="images/三停五眼.PNG" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>三停五眼</h4></a>
              <p>上停 = 從髮際到"眉毛上邊"，主15到30歲運勢</p>
              <p>中停 = "眉毛上邊"到"鼻尖"，主31歲到50歲運勢</p>
              <p>下停 = "鼻尖"到下巴尖端，主51歲後運勢</p>
              <span>Reviews (36)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--面相 End-->

  <div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <div class="row">
              <div class="col-md-8">
                <h4>體驗 <em>面相</em> 分析</h4>
                <p>利用即時影像圖像分析面相及完美比例</p>
              </div>
              <div class="col-md-4">
                <a href="Data.html" class="filled-button">開始測試</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>AIEN16 &copy; 2022 Second Group
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/owl.js"></script>
  <script src="assets/js/slick.js"></script>
  <script src="assets/js/isotope.js"></script>
  <script src="assets/js/accordions.js"></script>


  <script language = "text/Javascript"> 
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t){                   //declaring the array outside of the
    if(! cleared[t.id]){                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value='';         // with more chance of typos
        t.style.color='#fff';
        }
    }
  </script>

  

</body>

</html>