{% extends "base.html" %}
{% block title %}AIEN16面相分析 - 首頁{% endblock title%}

{% block content %}
  <!--Mediapipe Face Sart-->
  <div class="latest-products">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="section-heading">
            <h2>Mediapipe Face</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/facemesh1.png" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>原始</h4></a>
              <h6>Demo</h6>
              <p>Mediapipe原始模型</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/facemesh2.png" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>標號</h4></a>
              <h6>Mark</h6>
              <p>將每個點標記號碼</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/facemesh3.png" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>畫線</h4></a>
              <h6>Line</h6>
              <p>將座標點連線畫線計算</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--Mediapipe Face End-->

  <!--醫美 Sart-->
  <div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>美學標準</h2>
            <a href="Aesthetics.html">更詳細資訊 <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/三庭.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>三庭</h4></a>
              <h6>Ratio 1:1:1</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (24)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/五眼.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>五眼</h4></a>
              <h6>Ratio 1:1:1:1:1</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (24)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/黃金比例.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>黃金比例</h4></a>
              <h6>Golden ratio = 1.618</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (21)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/四角比例.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>四角比例</h4></a>
              <h6>> 1.41</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (36)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/美人角.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>美人角</h4></a>
              <h6>45°</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (48)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="#"><img src="images/三點線.jpg" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>三點線</h4></a>
              <h6>straight line</h6>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (16)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--醫美 End-->

  <!--面相 Sart-->
  <div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>面相</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-item">
            <a href="#"><img src="images/面相.PNG" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>面相</h4></a>
              <p>看慧在額，看名在眉，看貴在眼，看富在鼻，看祿在嘴，看福在耳，看壽在頜</p>
              <span>Reviews (24)</span>
            </div>
          </div>
        </div> 
        <div class="col-md-6">
          <div class="product-item">
            <a href="#"><img src="images/三停五眼.PNG" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>三停五眼</h4></a>
              <p>上停 = 從髮際到"眉毛上邊"，主15到30歲運勢</p>
              <p>中停 = "眉毛上邊"到"鼻尖"，主31歲到50歲運勢</p>
              <p>下停 = "鼻尖"到下巴尖端，主51歲後運勢</p>
              <span>Reviews (36)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--面相 End-->

  <div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <div class="row">
              <div class="col-md-8">
                <h3>體驗 <em>面相</em> 分析</h3>
                <p class="p">利用即時影像圖像分析面相及完美比例</p>
              </div>
              <div class="col-md-4">
                <a href="{{ url_for('DataAnalysis') }}" class="filled-button">開始測試</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  {% endblock content %}

  