<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AIEN16test</title>
        <!-- Favicon-->
        <link type="image/x-icon" rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}"/>
        
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
       
        
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">AIEN16算命</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">首頁</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">關於</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">算命知識</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="blog-home.html">面相</a></li>
                                    <li><a class="dropdown-item" href="blog-home.html">手相</a></li>
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">AINE16第二組算命</h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                                        <div class="h2 fw-bolder">臉部面相算命特徵圖</div>
                                        <p>在面相學中男人長相倘若面帶紅潤氣色亮，屬於大喜或大財之相，男人臉色紅潤，膚色白而不黑的人多是身體健康，血液循環好，這實在是天生的福氣相呀。這樣的男性朋友也會找到一位優秀的女人為妻，也會因妻得祿，這樣的男人就是屬於金龜婿呀。...</p>
                                        
                                        
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('臉部特徵網格圖', '影片')">臉部特徵網格圖</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('臉部外框', '影片')">臉部外框</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('臉部面相算命特徵圖', '影片')">臉部面相算命特徵圖</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('三庭', '影片')">三庭</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('五眼', '影片')">五眼</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('美人角', '影片')">美人角</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('臉部黃金比例', '影片')">臉部黃金比例</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('臉部四角形比例', '影片')">臉部四角形比例</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('眉尾、眼尾和鼻翼連成一線', '影片')">眉尾、眼尾和鼻翼連成一線</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('鼻子大小', '影片')">鼻子大小</button>
                                        
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('啟動', '照相')">啟動相機</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('Take', 'Picture')">拍照 (>.^)~y</button>

                                        <hr>

                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('臉部特徵網格圖', '照片')">傳送文字(臉部特徵網格圖)</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('臉部外框', '照片')">傳送文字(臉部外框)</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('臉部面相算命特徵圖', '照片')">傳送文字(臉部面相算命特徵圖)</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('三庭', '照片')">傳送文字(三庭)</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('五眼', '照片')">傳送文字(五眼)</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('美人角', '照片')">傳送文字(美人角)</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('臉部黃金比例', '照片')">傳送文字(臉部黃金比例)</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('臉部四角形比例', '照片')">傳送文字(臉部四角形比例)</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('眉尾、眼尾和鼻翼連成一線', '照片')">傳送文字(眉尾、眼尾和鼻翼連成一線)</button>
                                        <button type="button" class="btn btn-primary btn-lg" onclick="Function_video_feed('鼻子大小', '照片')">傳送文字(鼻子大小)</button>
                                        
                                        
                                        
                                    </div>
                                </div>
                                </br>
                                <div class="col-lg-6 col-xl-7" style="height: auto;width: auto;">
                                    <div class="bg-featured-blog" >
                                        <img id="image2" src="" width="600">
                                        <img id="image3" src="">
                                        <div id="jsonOutput" style="width:400px;display:table-cell">
                                            <p></p>
                                        </div>
                                        <hr>
                                        <div id="jsonOutputComment" style="width:400px;display:table-cell">
                                            <p></p>
                                        </div>
                                        <hr>
                                        <table class="table-roll">
                                            <thead>
                                                <tr>
                                                    <th colspan="2" class="p">髮型妝容建議</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>123</td>
                                                    <td>456</td>
                                                </tr>    
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                                <hr>
                                <div class="col-lg-6 col-xl-7" style="height: auto;width: auto;">
                                    <button id="getFaceData">取得資料</button>
                                    <div id="jsonOutputTest" style="width:400px;display:table-cell">
                                        <p>結果:</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                
            </section>
            
            <section class="py-5">
                
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">AIEN16 &copy; AIEN16 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- jquery -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            // style = 按鈕名稱; videoMode = "影片" 或 "照片" 或 "照相"
            function Function_video_feed(style, videoMode) {
                document.getElementById("image2").src = "{{ url_for('video_feed', style='style', videoMode='videoMode') }}".replace("style", style).replace("videoMode", videoMode);

                // 影片
                if (videoMode == "影片") {
                    $("#jsonOutput").html("播放影片 ing");
                    $("#jsonOutputComment").html("");
                }
                // 照片
                else if (videoMode == "照片") {
                    // 處理回傳值
                    data1={ "param": style };
                    $.ajax({
                        type:"post",
                        url:"http://localhost:5000/getTxt",
                        contentType:"application/json",
                        data:JSON.stringify(data1),
                    }).done(function(data2){                
                        $("#jsonOutput").html(JSON.parse(JSON.stringify(data2["回傳文字"])));
                        $("#jsonOutputComment").html(JSON.parse(JSON.stringify(data2["回傳評論"])));
                        //JSON.parse 方法把會把一個JSON字串轉換成 JavaScript的數值或是物件。另外也可選擇使用reviver函數讓這些數值或是物件在被回傳之前做轉換。
                    }).fail(function(err){
                        alert(err.responseText);
                    });
                }
                // 照相功能
                else if (videoMode == "Picture") {
                    $("#jsonOutput").html("拍照 ing");
                    $("#jsonOutputComment").html("");
                }
            }

            // 老師示範用 ajax 前後端傳送資料
            var faceParam=30;
            data={ "param": faceParam };
            $("#getFaceData").click(function(event){            
                $.ajax({
                    type:"post",
                    url:"http://localhost:5000/getFaceData",
                    contentType:"application/json",
                    data:JSON.stringify(data),
                }).done(function(data){                
                    $("#jsonOutputTest").html(JSON.stringify(data["臉部周長"]));
                }).fail(function(err){
                    alert(err.responseText);
                });
            });
          </script>
    </body>
</html>
