
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Signin</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="style/sign_style.css" media="all">


    <style>

    </style>

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="Home.html"><h2>AIEN16-2 <em>面相分析</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="Home.html">首頁</a>
                    </li> 
                    <li class="nav-item">
                    <a class="nav-link" href="index.html">功能體驗</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Data.html">面相數據</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Analysis.html">面相分析</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Aesthetics.html">美學標準</a>
                    </li>
                </ul>
                <ul class="toolbar-menu toolbar-menu--member">
                  <li class="toolbar-item toolbar-item--login"><a class="text-underline-none" href="Signin.html">登入</a></li>
                  <li class="toolbar-item"><a class="text-underline-none" href="Signup.html">註冊</a></li>
                </ul>
            </div>
          </div>
        </nav>
    </header>

    <div id="mainContent">
        <main class="content">
            <div class="editorA">
                <h1 class="heading-h1 editorA-heading">登入</h1>
            </div>
            <div id="content_wuc_login">
                <div class="content-form">
                    <div class="content-bg content-bg--green">
                    <div id="wuc_Error" class="message message--error margin-b-3 js-validationSummary" tabindex="-1"></div>
            
                        <div class="form">
                            <p class="form-note" aria-hidden="true">
                                <strong class="form-required">*</strong>
                                必填欄位
                            </p>
                            <div class="editor form-information">
                                <p class="margin-b-7">
                                    還沒有帳號？<a class="link link--arrow color-green" href="Signup.html" target="_top">前往註冊</a>
                                </p>
                            </div>
                            <div class="margin-b-4">
                                <label class="form-label" for="content_wuc_login_Account">
                                    會員帳號
                                    <strong class="form-required" aria-hidden="true">*</strong>
                                </label>
                                <input id="content_wuc_login_Account" class="form-inputText" value="" aria-invalid="false" maxlength="45" required="" data-required="您所輸入的會員帳號不完整，請再試一次。" aria-describedby="note-0">
                            </div>
                            <div class="margin-b-4">
                                <label class="form-label" for="content_wuc_login_Password">
                                    密碼
                                    <strong class="form-required" aria-hidden="true">*</strong>
                                </label>
                                <input type="password" id="content_wuc_login_Password" class="form-inputText" aria-invalid="false" maxlength="40" required="" data-required="請輸入您的密碼。">
                            </div>
                            <div class="margin-b-4">
                                <div class="form-checkbox">
                                    <input type="checkbox" id="content_wuc_login_Remember" class="form-inputCheckbox">
                                    <label class="form-labelCheckbox" for="content_wuc_login_Remember">
                                        <span class="form-labelText">記住我的登入方式與帳號 </span>
                                    </label>
                                </div>
                            </div>    
                            <div class="form-btnBlock">
                                <button type="button" class="btn btn--lg btn--green" onclick="of_login()">
                                    登入
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
        
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="inner-content">
                <p>AIEN16 &copy; 2022 Second Group
              </div>
            </div>
          </div>
        </div>
    </footer>
    
    
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    
      <!-- Additional Scripts -->
      <script src="assets/js/custom.js"></script>
      <script src="assets/js/owl.js"></script>
      <script src="assets/js/slick.js"></script>
      <script src="assets/js/isotope.js"></script>
      <script src="assets/js/accordions.js"></script>
    
    
      <script language = "text/Javascript"> 
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t){                   //declaring the array outside of the
        if(! cleared[t.id]){                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value='';         // with more chance of typos
            t.style.color='#fff';
            }
        }
      </script>

</body>

</html>